.cartContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cartContainer .items{
    margin-bottom: 30px;
}

.cartContainer .item{
    display: flex;
    width: 500px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 0;
    position: relative;
    border-radius: 10px;
}

.cartContainer .item p, .cartContainer .item h4{
    margin-bottom: 4px;
}

.cartContainer img{
    width: 150px;
    height: 150px;
    margin-right: 20px;
    object-fit: cover;
}

.remove{
    position: absolute;
    top: 10px;
    right: 10px;
}

button{
    padding: 5px 10px;
    font-size: 1rem;
    /* background-color: #dc143c; */
    background-color: #1976d2;
    margin-top: 5px;
}

button:active{
    background-color: #2085eb;
    /* background-color: #dc143cdd; */
}

@media only screen and (max-width: 768px) {
    .cartContainer .item{
        width: calc(100vw - 40px);
        border-radius: 8px;
    }
}

@media only screen and (max-width: 350px) {
    .cartContainer .item{
        /* padding-top: 40px; */
        width: calc(100vw - 40px);
        flex-direction: column;
        border-radius: 8px;
    }

    .cartContainer img{
        width: 100%;
        height: fit-content;
        aspect-ratio: 1/1;
        margin-right: 20px;
        margin-bottom: 10px;
        object-fit: cover;
    }

    .remove{
        display: none;
    }
}