.fullscreen {
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100vw;
    height: 100dvh;

}

.closeBtn {
    position: fixed;
    top: 20px;
    right: 40px;
    cursor: pointer;
    color: #fff;
    z-index: 2001;
}

.mainpage {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 200px);
}